@model trasformation.run.Radio.Models.TenantViewModel
@{
    ViewData["Title"] = "Tenant";
}

<h2>@Model.Tenant.DisplayName</h2>
<ul class="list-unstyled">
    @foreach(var set in Model.Sets)
    {
        <li>@Html.ActionLink(set.Name, "MusicSet", new { tenantId = set.Tenant, setId = set.id })</li>
    }
</ul>
@Html.ActionLink("New Set", "MusicSet", new { tenantId = Model.Tenant.TenantId})